{% extends 'base.html.twig' %}

{% block title %}Nos partenaires{% endblock %}

{% block body %}

<div class="clear3"></div>

<div class="parterns">
    <hr class="row1">
    <h1 class="titleh2">Nos partenaires</h1>
    <hr class="row1 mb-5"><br>
<a href="https://www.lemonde.fr/" class="mt-5" target="_blank" rel="noopener noreferrer"><img src="{{asset('img/lemondelogo.png')}}" class="leslogos" alt="" srcset=""></a>
<a href="https://www.artisanat.fr/lartisanat/un-secteur-cle-de-leconomie/lartisanat-premiere-entreprise-de-france" target="_blank" rel="noopener noreferrer"><img src="{{asset('img/logoartisanatfrance.png')}}" class="lelogo" alt="" srcset=""></a>
<a href="https://www.notre-planete.info/" target="_blank" rel="noopener noreferrer"><img src="{{asset('img/logoplaneteinfo.jpg')}}" class="leslogos" alt="" srcset=""></a>

</div><br>
<div class="clear"></div>

{% endblock %}
