{% extends 'base.html.twig' %}

{% block title %}Hello LivraisonController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h1 class="center"> Modes de Livraison </h1>
    <br>
<div class="livraison">

    <div class="livraison1"> 
    <img class='logoups'src="{{asset('img/ups.png')}}" style=" box-shadow: 8px 8px 12px #aaa;"> UPS service de qualité antiprofessionelle depuis 2015, comme tous leurs concurents. garanti une livraison sans encombres qui s'adapte a vos besoin de part leur savoir faire, leurs qualité, et les qualifications de leurs livreurs.
    </div>

    <div class="livraison2"><img src="{{asset('img/livraison.jpg')}}" style=" box-shadow: 8px 8px 12px #aaa;">
    </div>

    <div class="livraison3">
        <img class='logoups'src="{{asset('img/laposte.png')}}" style=" box-shadow: 8px 8px 12px #aaa;"> Laposte service de qualité professionelle depuis 1972, comme l'huile d'olive puget. garanti une livraison sans encombres qui s'adapte a vos besoin de part leur savoir faire, leurs qualité, et les qualifications de leurs livreurs.
    </div>
  
</div>
{% endblock %}