body {
    background-image: url(body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.clear {
    height: 25vh;
}

.clear2 {
    height: 15vh;
}

.lighText {
    font-size: 10vh;
}

.nameArt {
    font-size: 8vh;
}

.foot {
    height: 20vh;
}