/*********GENERAL***********/

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(body.jpg);
    /* background:rgba(243, 240, 202, 0.555); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    

   
}

.container-fluid {
    width: 70%;
    overflow-x: hidden;
}

.clear {
    height: 13vh;
}

.clear2 {
    height: 5vh;
    background: rgba(214, 212, 178, 0);
}


/***************************HOME*******************************/


/******************NAV**************/

nav {
    font-size: 1.2vw;
    clip-path: polygon(100% 0, 100% 83%, 95% 91%, 91% 95%, 87% 97%, 82% 99%, 76% 100%, 66% 100%, 0 100%, 0 0);
    background: rgba(255, 255, 255, 0.781);
}

.searchInput {
    border: none;
    border-bottom: 1px solid rgba(66, 66, 66, 0.397);
    border-radius: 0;
    background: rgba(255, 255, 255, 0) !important;
    width: 45vh !important;
    opacity: 0.6;
}

.searchButton {
    background: rgba(255, 255, 255, 0);
    border: none;
    opacity: 0.3;
}

.log,
.cart {
    opacity: 0.3;
}

.navcons {
    position: absolute;
    right: 2%;
}

.icon:hover {
    opacity: 1;
}

/***nav bis*****/
.nav2{
    justify-self: center;
    background:rgba(255, 252, 248, 0.959);
    font-size:1.1vw;
    border-radius:8%;
    color:rgba(88, 86, 86, 0.849) !important;
    
    }
    
    .nav2 li a{
        text-decoration: none;
        color:rgba(88, 86, 86, 0.753) !important;
    }
    
    .nav2 li a:hover{
        color:rgba(88, 86, 86, 0.979) !important;
        opacity:1;
    }
    
    
    .nav2 li{
        list-style:none;
        border-top:1px solid rgba(230, 227, 227, 0.253);
        border-radius: 10px 120px / 120px;
        transition:.2s;
    }
    /** color effect hover**/
    .subMenu2 li:hover{
        background:rgba(79, 192, 226, 0.137);
    }
    .subMenuA:hover{
        background:rgba(79, 192, 226, 0.137);
    }
    
    
    .subMenu2b li:hover{
        background:rgba(241, 72, 42, 0.137);
    
    }
    
    .subMenuB:hover{
        background:rgba(241, 72, 42, 0.137);
    
    }
    
    .subMenu2c li:hover{
        background:rgba(241, 238, 42, 0.233);
    
    }
    
    .subMenuC:hover{
        background:rgba(241, 238, 42, 0.219);
    
    }
    
    .subMenu2d li:hover{
        background:rgba(52, 238, 28, 0.137);
    
    }
    
    .subMenuD:hover{
        background:rgba(52, 238, 28, 0.137);
    
    }
    
    .nav-item:hover{
        background:rgba(221, 157, 37, 0.151);
        border-radius: 10px 120px / 120px;
    
    }
    
    .subMenu2e li:hover{
        background:rgba(221, 157, 37, 0.151);
        border-radius: 10px 120px / 120px;
    }
    
    
    /**/
    .testContent{
        position:absolute;
        top:9vh;
        width:102%;
        line-height:3vw;
        z-index:10000 !important;
        
    }
    
    .subMenu2{
        margin-top:3vh !important;
     
    }
    
    
    .subMenu2b{
        padding-top:6vh !important;
    
    }
    
    .subMenu2c{
        padding-top:9.4vh !important;
    }
    
    .subMenu2d{
        padding-top:12.7vh !important;
    }
    
    .subMenu2e{
        margin-left:29%;
        bottom: 7vh !important;
    }
    
    

/**Button scroll up**/

.buttonNav {
    position: fixed;
    width: 3vh;
    height: 6vh;
    clip-path: circle(71.1% at 68% 50%);
    background: rgb(248, 248, 248);
    z-index: 1000;
    right: 0;
    top: 50%;
    transition: 0.6s ease-in-out;
}

.buttonNav a {
    text-decoration: none;
    color: black;
}

.buttonNav:hover {
    width: 5vh;
    background: rgba(145, 145, 145, 0.685);
}

.buttonNav i {
    font-size: 2.5vh;
    height: 2vh;
    margin-top: 2vh;
    transform: rotateZ(-90deg);
    color: rgb(116, 110, 110);
    transition: .8s;
}

.buttonNav i:hover {
    transform: rotateZ(0);
    font-size: 4vh;
    width: 3vh;
    color: white;
    padding-bottom: 4vh;
}


/*********************************************CAROUSEL*********/

.carousel img {
    height: 55vh;
}


/***PRODUITS DU MOMENT***/


/** title bar ***/

.plusPro {
    opacity: 0.6;
}

.plusPro a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.767);
}

.plusWord {
    opacity: 0.3;
}

.plusPro:hover,
.plusWord:hover {
    opacity: 1;
    color: black;
}

.tCurText {
    font-size: 2vw;
    font-weight: bold;
    opacity: 0.9;
}

.titleCurrent img {
    width: 0.9vw;
}


/**cards part ***/

.currentProducts {
    clip-path: polygon(10% 1%, 15% 0, 100% 0, 100% 100%, 0 100%, 0 13%, 2% 8%, 6% 3%);
    background: rgba(255, 136, 0, 0.055);
}

.currentProducts h2 {
    background: rgba(255, 1, 1, 0.021);
}

.card {
    background: rgba(255, 136, 0, 0);
    border: none;
}

.card a {
    text-decoration: none;
    color: black;
}

.cCarText {
    opacity: 0.8;
}

.cardA p:hover {
    opacity: 1;
}

.currentPrice {
    font-size: 1vw;
}

.note i {
    width: 0.5vw;
    padding-left: 1vw;
    color: rgb(240, 185, 36);
}

.img-pres {
    transition: .5s ease-in-out;
}

.img-pres:hover {
    width: 105%;
}

.test:hover {
    width: 90%;
}

.container-img {
    width: 30vh;
    height: 22vh;
    overflow: hidden;
}

.arrowNext {
    color: rgb(121, 117, 117);
}


/*************LUMIERE SUR*********/

.ampoule{
    width:50%;
}

.divLt {
    background: rgba(233, 233, 90, 0.055);
    clip-path: polygon(100% 11%, 94% 23%, 98% 44%, 99% 68%, 95% 83%, 100% 100%, 0 100%, 0 0, 100% 0);
}

.light {
    background: rgba(255, 1, 1, 0.007);
}

.lightText {
    font-size: 3.4vw;
}

.dedeText {
    font-size: 1vw;
}

.nameArt {
    font-size: 3vw;
    clip-path: circle(64.8% at 50% 34%);
}

.descArt {
    height: 60%;
}

.crafterImg {
    clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%, 3% 84%, 4% 53%, 0 24%);
}

#button {
    margin-top: 2%;
    width: 15vh;
    height: 4.5vh;
    border-radius: 10%;
    text-decoration: none;
    border-bottom: 1px solid rgba(12, 219, 219, 0.068);
    border-right: 1px solid transparent;
    text-decoration: none;
    background: rgba(233, 233, 90, 0.13);
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, rgba(228, 185, 65, 0.555) 50%);
    transition: background-position .5s cubic-bezier(0.19, 1, 0.22, 1) .10s, color .5s ease 0s, background-color .8s ease;
    font-size: 2.1vh;
}

#button a {
    text-decoration: none;
    color: black;
}

#button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(227, 233, 233);
    border-left: transparent;
    border-right: transparent;
    transform: rotateY(360deg);
    /*** mellow effect. needs border css thickness. at least border-top. Better with all of them.**/
}

#button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(228, 184, 65, 0);
    background-position: -100% 100%;
    cursor: pointer;
}


/*********LE PROJET*****/

.pProjet{
    font-size:1vw;
}
.projInfo {
    margin-top: 30%;
    padding-top:10%;
    margin-left: 10%;
    width: 70%;
    font-size: 1.3vw;
}

.projRight {
    background: rgba(43, 206, 116, 0.075);
    transform: rotateZ(-6deg);
    border-radius: 3%;
    height: 45vh;
    margin-top: 5vh;
    width: 90%;
}

.project {
    background: rgba(15, 172, 28, 0.068);
}

.projLeft {
    margin-right: 0;
}

.projTitle {
    background: rgba(129, 209, 140, 0.062);
    font-size: 2.2vw;
    margin-left: 65%;
}

.imgProjet-left{
    width:70%;

}

/***fade effect**/

.infoHidden {
    display: none !important;
}

.pi {
    transform: rotateZ(6deg);
    height: 36vh;
    padding: 3%;
    font-size:1vw;
    color: rgba(0, 0, 0, 0.849);
}


/********************************FOOTER************************/

.foot {
    background: rgba(248, 166, 14, 0.13);
    clip-path: polygon(36% 100%, 69% 0, 100% 0, 100% 100%, 0 100%, 0 0, 17% 0, 69% 0, 62% 17%);
    height: 20vh;
}

.foot a,
.footbis a {
    text-decoration: none;
}

.foot a {
    color: black;
    font-size: 1.1vw
}

.foot a:hover {
    color: rgba(145, 143, 143, 0.808);
}

.logos img,
.home {
    width: 1.6vw;
    height: 1.6vw;
}

.footbis {
    background: rgb(85, 84, 84);
}

.footlinks2 a {
    color: rgb(182, 165, 72);
}

.footlinks2 a:hover {
    color: rgb(240, 240, 235);
}

.inc:hover {
    color: white;
}

/*******************************************PAGES by CATEGORIES********************/
/*Bijoux*/


.clear3{
    height:10vh;
    width:100%
}
.rer{
    background:rgba(255, 255, 255, 0.582);
    left:0;
}

.titleartisan2{
    font-size:2.8vw;
}


.pathRef a, .pathRef li{
    color:rgb(57, 101, 160);
    text-decoration:none;
    opacity:0.8;
    font-size: 0.9vw;
    transition:0.3s;
    margin-top:5px;
}

.pathRef a:hover{
    color:rgb(49, 183, 236);
    opacity:1;
}

.arrowOp{
    font-size:1vw;
    opacity:0.3;
}

.rt{
    margin-left:12%!important;
    justify-content: space-evenly!important;

}

.lineCatBij{
    border-top:1px solid rgba(128, 128, 128, 0.192);
    width:40%;
}
.paybuIco{
    width:1vw;
}

/*****Bouton produits*****/

.payButton{
    border-radius:15%;
    width: 3vw;
}



.scrollOp2{
    border-radius: 50%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.103);
    border-top: 1px solid rgba(128, 128, 128, 0.171);
    opacity:0;

}
.scrollOp2:hover{
    background:rgba(235, 178, 104, 0.432);

}

.scrollOp{
    border-left:1px solid rgba(128, 128, 128, 0.185);
    margin-left: 3vh;
}

.scrollOp:hover{
    background:rgba(240, 185, 123, 0.568);
}

.currentPrice {
    font-size: 1vw;
}

.note i {
    width: 0.5vw;
    padding-left: 1vw;
    color: rgb(240, 185, 36);
}

#trou{
    transition:1s;
}

#trou:hover {
   width:105%;
}


.container-img2 {
    width: 30vh;
    overflow: hidden;
}

.trierbij{
    background:rgba(238, 161, 73, 0.116);
    font-size: 1vw;
}

.trierTitle{
    font-size: 1vw;
}


.trierbijRight{
    background:rgba(238, 161, 73, 0.26);
    width:10%;
    transition:3s ease-in-out;
}


/*********************************************CONFIDENTIALITÉ****************************/


/******CONFIDENTIALITÉ*******/

.castor {
    width: 100%;
    background-color: rgb(226, 195, 22);
    color: #fff;
}

.container {
    display: flex;
}

.conf h3 {
    color: black;
}

.conf p {
    color: #1D3C78;
}

.menu {
    width: 10%;
    height: 20vh;
}

.menu a {
    color: rgb(120, 119, 29);
    size: 10px;
    width: 12%;
}

.menus {
    width: 100%;
    height: 100vh;
    margin: 80px;
}


/******************************COOKIE*****************************/


/* 
.titreCookie {
    width: 100%;
    height: 180px;
    background-color: #ffc107;
} */

.titreCookie p {
    text-align: 50%;
}


/***************************Team PAGE*******************************/


/***left***/

.teamWindow {
    height:25vw;
}


.teamTof {
    background-image: url(team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10%;
    width: 70%;
    height: 70%;
    margin-top: 6vh;
    margin-right:0;

}


/*****right*****/

.infoTeam {
    height: 55vh;
}

.line {
    border-left: 1px solid rgba(0, 0, 0, 0.24);
    height: 40vh;
}

.socicons {
    width: 1.1vw;
    opacity: 0.5;
    margin-right:1px;
}

.socicons3 {
    width: 1.2vw;
    opacity: 0.5;
}

.sociconDiv {
    padding-top: 2vh;
}

.sociconDiv a {
    color: rgb(16, 126, 190);
    text-decoration: none;
    transition: 0.5s;
}

.sociconDiv a:hover {
    color: rgb(5, 184, 255);
}


/************************************effet cartes flip**************************************************/

.flip-card {
    perspective: 500px;
}


/* conteneur */

.flip {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    /*active la carte de dos*/
}


/* Position des faces*/

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


/* flip horizontal*/

.back,
.flip:hover {
    transform: rotateY(180deg);
}

.flip-card {
    width: 35%;
    height: 70%;
    transform: rotateY(-18deg);
    margin-top: 6%;
    margin-left: 5%;
    border-radius: 30%;
    text-align: center;
    animation-name: flipi;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flipi {
    from {
        transform: rotateY(-18deg);
    }
    to {
        transform: rotateY(180deg);
    }
}


/***** Effet scroll whole page (HOME) ********/

.reveal-loaded .reveal [class*="reveal-"] {
    opacity: 0!important;
    animation: none!important;
    transition: 0s!important;
}

.reveal-loaded [class*="reveal-"] {
    animation: revealAnimation 1.2s cubic-bezier(.5, 0, 0, 1) both;
}

.reveal-loaded .reveal-2 {
    animation-delay: .1s;
}

.reveal-loaded .reveal-3 {
    animation-delay: .2s;
}

.reveal-loaded .reveal-4 {
    animation-delay: .25s;
}

.reveal-loaded .reveal-5 {
    animation-delay: 0;
}

@keyframes revealAnimation {
    0% {
        opacity: 0;
        transform: translate3d(-42px, 62px, -135px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0);
    }
}


/***********************************LIVRAISON******************************************************/

.logoups {
    width: 30%;
    height: 75%;
}

.logoup2{
    width: 30%;
    height:80%
}

.logoup3{
    width: 60%;
    margin-left:15%;
}


.paypal {
    width: 100%;
}

.bolditalic {
    font-weight: bold;
}




/***********************************LIVRAISON********************/

.delivImg{
width: 30%;
height: 90%;
}

.delivImg2{
    width: 30%;
    }

/************************************Product Single****************************************************************/

.notfull {
    width: 70%;
    margin: 0 auto;
}

.producttitle {
    font-weight: bold;
    margin-bottom: 3vh;
}

.producttitle:hover {
    text-decoration: underline;
}

.dixpourcent
/* blank for adds */

{
    width: 10%;
    height: AUTO;
}

.imgproduct {
    width: 50vh;
    height: 50vh;
    margin-bottom: 10vh;
    margin-top: 5vh;
    margin-right: 5vh;
}

.restproduct {
    width: 40%;
    height: AUTO;
}

.splitintwo {
    width: 100%;
    height: 10vh;
}

.nameartisan {
    width: 40%;
    height: 10vh;
    font-size: large;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.productprice {
    width: 40%;
    height: 10vh;
    font-size: large;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin-top: -5vh
}

.starsartisan {
    width: 60%;
    height: 10vh;
}

.starsartisanphoto {
    width: 60%;
    height: 10vh;
    text-align: center;
}

.starproduct {
    width: 50%;
    margin: 0 auto;
    transition: 1s;
}

.starproduct:hover {
    background: burlywood;
}

.margintope {
    margin-top: -10vh;
}

.descriptionartisan {
    width: 100%;
    height: auto;
    padding: 5vh;
    margin-top: 5vh;
    border: 0.5px solid burlywood;
    border-radius: 10vh;
}

.descriptionartisan:hover {
    box-shadow: 8px 8px 15px 1px burlywood;
}

.imgproductartisan {
    width: 50%;
    height: 100%;
    margin: 5% auto;
}

.img-wrapper {
    display: inline-block;
    overflow: hidden;
    border: solid black 1px;
}

.imgproduct {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.imgproduct:hover {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    /* IE 9 */
    -moz-transform: scale(1.5);
    /* Firefox */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
}

.mainphoto {
    width: 70vh;
    height: 70vh;
    border: 3px solid burlywood;
    text-align: center;
    margin: 1vh 5vh;
    border-radius: 3.5vh;
}

.imgproduct {
    width: 50vh;
    height: 50vh;
    margin-top: 7vh;
    transition: 1s;
}

.ajoutpanier {
    text-align: center;
    vertical-align: middle;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.italic {
    font-style: italic;
}

.butonbuton {
    border-radius: 10vh;
    overflow: hidden;
    transition: 0.5s;
}

.butonbuton:hover {
    -webkit-box-shadow: 3px 4px 10px -1px rgba(56, 224, 56, 1);
    -moz-box-shadow: 3px 4px 10px -1px rgba(56, 224, 56, 1);
    box-shadow: 3px 4px 10px -1px rgba(56, 224, 56, 1);
}

.avisclient {
    background: red;
    width: 100%;
    height: 30vh;
    text-align: center;
}


/************************************avis client****************************************************************/

.currentavis {
    background: rgba(238, 135, 18, 0.055);
    border-radius: 10vh;
    text-align: justify;
    margin-left: 5vh;
    height: 45vh;
}

.bold {
    font-weight: bold;
}

.borderborder {
    border: 3px solid burlywood;
    margin-bottom: 4vh;
    border-radius: 5vh;
}


/************************************danslememegenre****************************************************************/

.danslememegenre {
    height: auto;
    width: 100%;
    margin-top: 5vh
}

.inthesameway {
    background: rgba(238, 135, 18, 0.055);
    border-radius: 10vh;
    text-align: justify;
    margin-left: 5vh;
    margin-bottom: 10vh;
    height: auto;
}

.othertitle {
    font-weight: bold;
}

.othertitle:hover {
    text-decoration: underline;
}


/************************************CAROUSEL****************************************************************/


/* SLIDER MAIN CONTAINER */

.fg-slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* SLIDER ITEMS */

.slider-item {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.slider-item.active {
    opacity: 1;
    visibility: visible;
}


/* SLIDER TEXT CONTENT */

.slider-item .fg-content {
    position: absolute;
    left: 50%;
    top: 48%;
    z-index: 99;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.slider-item.active .fg-content {
    top: 50%;
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}


/* ARROW CONTAINER, ARROWS */

.arrow-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
}


/* SLIDER ARROWS */

.arrow-container>div {
    width: 40px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.arrow-container>div:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.arrow-container i {
    font-size: 23px;
    color: #2e2e2e;
}

.right-arrow {
    right: -40px;
}

.left-arrow {
    left: -40px;
}

.fg-slider:hover .arrow-container>div {
    opacity: 1;
    visibility: visible;
}

.fg-slider:hover .left-arrow {
    left: 0;
}

.fg-slider:hover .right-arrow {
    right: 0;
}


/* BULLETS */

.bullet-container {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 9;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.bullet-container>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 13px;
    height: 13px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 100%;
    margin: 0 3px;
    opacity: .5;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.bullet-container>div i {
    font-size: 7px;
    color: grey;
}

.bullet-container>div.active {
    background-color: #fff;
    opacity: 1;
}

.bullet-container>div:hover {
    opacity: .7;
    background-color: #fff;
}


/* HIDDEN ELEMENTS */

.fg-hidden {
    opacity: 0;
    visibility: hidden;
}


/* ANIMATION EFFECTS */


/* scale effet */

.fg-slider.scale .slider-item {
    -webkit-transform: scale(.9);
    transform: scale(.9);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.fg-slider.scale .slider-item.active {
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* slide effect slide horizontal */

.fg-slider.slide-horizontal .slider-item {
    left: -160px;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.fg-slider.slide-horizontal .slider-item.active {
    left: 0;
}


/* slide effect vertical */

.fg-slider.slide-vertical .slider-item {
    top: -160px;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.fg-slider.slide-vertical .slider-item.active {
    top: 0;
}


/* slide effect slide top */

.fg-slider.slide-top .slider-item {
    top: -160px;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.fg-slider.slide-top .slider-item.active {
    top: 0;
}


/* slide effect left */

.fg-slider.slide .slider-item {
    left: -160px;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.fg-slider.slide .slider-item.active {
    left: 0;
}


/* SLIDER LOADING ANIMATION */

.sk-folding-cube {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 45%;
    -webkit-transform: rotateZ(45deg) translate(50%, 50%);
    transform: rotateZ(45deg) translate(50%, 50%);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
}

.sk-folding-cube.active {
    opacity: 1;
    visibility: visible;
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

.fg-slider {
    height: 50vh;
}

.fg-content p {
    font-size: 2.4vw;
    color: rgb(231, 225, 225);
    border-bottom: 1px solid rgba(114, 114, 114, 0.247);
    text-shadow: rgb(56, 56, 56) 1px 0 1px;
}

.fg-content a {
    font-size: 1vw;
    opacity: 0.8;
}

/******************************************************ArtisanSingle****************************************************************/

.contentname {
    height: 200px;
    margin-bottom: 30px;
    background-color: burlywood;
    margin: 0 auto;
}

.nametitle {
    margin-bottom: 20px;
}

.nameofcraftsman {
    color: white;
    width: 200rem;
    text-transform: uppercase;
    font-size: 100px;
    padding-left: 20rem;
    padding-top: 25px;
}

.description {
    width: 50rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

figure {
    width: 20rem;
    position: relative;
    overflow: hidden;
}

figure .craftsmanpicture {
    display: block;
}

figure figcaption .caption {
    color: #fff;
}

figcaption {
    position: absolute;
    background: burlywood;
    padding: 1px 0;
    text-align: center;
    width: 20rem;
    transition: 0.6s;
    left: 0;
    bottom: -20%;
}

figure:hover figcaption {
    bottom: 0;
}

.fiche {
    width: 20rem;
    text-align: center;
}

.craftsmanpicture {
    width: 20rem;
    border-radius: 5px;
    box-shadow: 3px 2px 1px 1px grey;
}

.textpresentation {
    width: 45rem;
    padding: 10px 40px;
    text-align: center;
}

.presentation {
    width: 45rem;
    border: 2px solid burlywood;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 30px;
}

.presentation:hover {
    box-shadow: 8px 8px 15px 1px burlywood;
}

.titleofproducts {
    width: 40rem;
    margin: 0 auto;
}

.nameofproducts {
    color: burlywood;
    text-align: center;
}

.craftsmanproducts {
    width: 50rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.thedescription {
    font-size: 10px;
    margin-top: 15px;
}

.fasa1,
.fasa2,
.fasa3,
.fasa4,
.fasa5 {
    width: 12px;
}

.fasa1,
.fasa2,
.fasa3,
.fasa4 {
    color: rgb(255, 217, 0);
}

.fiche .describe:hover {
    background-color: burlywood;
}

.productsmenu2 {
    width: 10rem;
    border-radius: 5px;
    box-shadow: 3px 2px 1px 1px grey;
    border: 3px solid burlywood;
    transition: 1s ease-in-out;
}


/*
.productsmenu2:hover,
.productsmenu2:focus {
    width: 11rem;
} */

.productsmenu2:hover {
    width: 11rem;
    /* transition: 1s ease-in-out; */
}

.imagecontent {
    width: 13rem;
    height: 12rem;
    overflow: hidden;
}

.fasb1,
.fasb2,
.fasb3 {
    width: 12px;
    color: rgb(255, 217, 0);
}

.fasc1,
.fasc2,
.fasc3,
.fasc4 {
    width: 12px;
    color: rgb(255, 217, 0);
}

.fasd1,
.fasd2,
.fasd3,
.fasd3 {
    width: 12px;
    color: rgb(255, 217, 0);
}


/****************************************************** Page Artisan**********************************************************/

.titleartisan {
    text-align: center;
    color: burlywood;
}

.lign {
    width: 50rem;
    margin: 0 auto;
}

.row1 {
    width: 50rem;
    margin: 0 auto;
}

.craftsman {
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 1px 1px 3px 3px dimgrey;
}

.namecrafts {
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.jobtown {
    color: black;
}

.spacecard:hover,
.spacecard:focus {
    background-color: burlywood;
}

.spacecard {
    border-radius: 0px 0px 3px 3px;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.betweenlign {
    width: 5rem;
    margin: 0 auto;
}

#picture {
    overflow: hidden;
}


/*****************************************************Contact*****************************************/

.formul {
    width: 50rem;
    margin: 0 auto;
}

.contacttitle {
    color: rgb(173, 113, 33);
    text-align: center;
}

.formul1{
    background:rgba(179, 177, 173, 0.151);
        border-radius: 20px;
}

/*****************************************************Cookie*****************************************/

.cookie {
    width: 100%;
    height: 15vh;
    background-color: #ffff;
}


/************************************************Formulaire artisan et customer************************************/

.formartisan,
.backartisan,
.backcustomer {
    width: 50rem;
    margin: 0 auto;
}

.titleartisan,
.titlecustomer {
    color: rgb(170, 113, 39);
    text-align: center;
}

.boucle_art {
    display: flex;
}


/* Fixez le bouton sur le côté gauche de la page the button on the left side of the page */

.open-btn {
    display: flex;
    justify-content: left;
}


/* Stylez et fixez le bouton sur la page */

.open-button {
    background-color: #1c87c9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
}


/* Positionnez la forme Popup */

.login-popup {
    position: relative;
    text-align: center;
    width: 100%;
}


/* Masquez la forme Popup */

.form-popup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-45%, 5%);
    border: 2px solid #666;
    z-index: 9;
}


/* Styles pour le conteneur de la forme */

.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}


/* Largeur complète pour les champs de saisie */

.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
}


/* Quand les entrées sont concentrées, faites quelque chose */

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Stylez le bouton de connexion */

.form-container .btn {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Stylez le bouton pour annuler */

.form-container .cancel {
    background-color: #cc0000;
}


/* Planez les effets pour les boutons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}


/**Made by Victor **/

.center {
    text-align: center;
}

.flexflex {
    display: flex;
}

.ampoule {
    opacity: 0.1;
}


/*************************************loginpage********/

.toregister {
    display: flex;
    justify-content: space-between;
    width: 50rem;
    margin: 0 auto;
}

.registerside {
    color: rgb(184, 115, 24);
}

.loginseparate {
    height: 200px;
    width: 2px;
    background-color: rgb(114, 74, 22);
}


/**************************************** Partenaires*******************************************/

.leslogos {
    width: 200px;
    height: 50px;
    margin: 0 50px;
}

.lelogo {
    width: 70px;
    height: 50px;
    margin: 0 10px;
}

.parterns {
    width: 50rem;
    margin: 0 auto;
}

.titleh2 {
    color: rgb(189, 122, 34);
    text-align: center;
}


/**************************************** ProductMainPage *******************************************/

.testproduit {
    height: 305vh;
    background: rgb(30, 172, 96);
    display: flex;
}

.tierdemap {
    background: deepskyblue;
    width: 50vh;
    height: 50vh;
}

.testflex {
    background: cyan;
    display: flex;
    width: 100%;
    justify-content: center;
}

.salutccoll {
    background: red;
    width: 30%;
}

