{% extends 'base.html.twig' %}

{% block body %}

    {# <header>
        <hr class="lign">
        <h1 class="titleartisan">Nos artisans</h1>
        <hr class="lign">
    </header>

            <div class="row1">
                <a id="crafts1" class="card craftsman" href="{{ path('artisan_single') }}" style="width: 18rem;">
                    <div class="container-img">
                        <img src="{{asset('img/Camille.jpg')}}" class="card-img-top img-pres" alt="...">
                    </div>

                    <div class="card-body spacecard">
                        <h5 class="card-title namecrafts">Camille</h5>
                        <hr class="betweenlign">
                        <p class="card-text jobtown">Menusière - Toulouse</p>
                    </div>
                </a>
            </div>     #}

{% endblock %}