{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <hr class="lign">
        <h1 class="titleartisan">Nos artisans</h1>
        <hr class="lign">
    </header>
            <div class="row1">
            {% for artisan in artisans %}
            {% if artisan.user.id == app.user.id %}
            {{artisan.username}}

            {% endif %}   
            {% endfor %}   


{% endblock %}