{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}



            <div class="row1">
                <a id="crafts1" class="card craftsman" href="http://localhost/TrainingCourse-project/public/index.php/artisansingle" style="width: 18rem;">
                    <div class="container-img">
                        <img src="{{asset('img/')}}" class="card-img-top img-pres" alt="...">
                    </div>

                    <div class="card-body spacecard">
                        <h5 class="card-title namecrafts">{{artisans.username}}</h5>
                        <hr class="betweenlign">
                        <p class="card-text jobtown">{{artisans.speciality}} - {{artisans.company}}</p>
                    </div>
                </a>
            </div>  
{% endblock %}
