{% extends 'base.html.twig' %}

{% block title %}Modes de paiement{% endblock %}
{% block body %}

<h1 class="center text-center mx-auto mb-5"> Modes de Paiement </h1><br>

<div class="row justify-content-center">
        <div class="col-5 d-flex">
            <img class='delivImg mr-4 mt-1'src="{{asset('img/cb.png')}}" style=" box-shadow: 8px 8px 12px #aaa;">
            <p>
                Les moyens de paiement suivantss peuvent être utilisées : <br>
                Carte bancaire
                Visa 
                Visa Electron
                EuroCard/MasterCard
                American Express
                Carte Aurore
                Carte prépayée
                Prélèvement SEPA
                Si vous réglez votre commande avec une carte de paiement, il vous sera demandé d'entrer les détails de cette carte lors du processus de commande, et de suivre les instructions fournies lorsque vous passez votre première commande.
                Si vous souhaitez ajouter une carte de paiement dans votre compte ou modifier une carte déjà enregistrée, rendez-vous dans Votre Compte puis cliquez sur Options de paiement pour accéder à Votre Portefeuille.
            </p>
        </div>
</div>
 <div class="row justify-content-center d-flex">
    <div class=" col-5 livraison">
        <p> Vous avez également la possibilité de payer en plusieurs fois afin de régler vos commandes.
            Votre carte de paiement peut être sujette au processus de vérification du paiement par votre banque. Pour obtenir des informations supplémentaires à ce sujet, rendez-vous sur notre page d'aide : Processus de vérification du mode de paiement par carte
            Certains moyens de paiement ne peuvent pas être utilisés chez nous. Nous n'acceptons pas :
            les chèques ou mandats postaux
            les espèces, quelle que soit la devise
            les bons d'achat pour des livres
            les bons de commande
            les transferts internationaux
            les paiements par PayPal
            les virements bancaires<br>
        </p>
        <p>
            Livraison sûre et rapide en remise contre signature par un transporteur indépendant.Pour la France Métropolitaine, la Corse et Monaco : livraison 24hr par Chronopost pour les commandes dont le poids total est inférieur à 90kg.
            Livré le lendemain matin avant 18h à votre domicile. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente officiis quaerat velit corrupti. Unde ipsam esse error numquam atque cum!
        </p>
    </div>
</div>   
<br>  
<div class="row justify-content-center"><br><hr>
    <div class="col-5 d-flex">
        <p>
            Livraison payante pour :  Colis livré le lendemain matin avant 13h à votre domicile. La veille de la livraison, vous êtes averti par e-mail et SMS. Par Chronopost.
            Pour la France Métropolitaine, et la Corse : nouveau transporteur UPS. COMMANDEZ AVANT 13h, SOYEZ LIVRE DEMAIN.  Livraison du Lundi au Vendredi - jours ouvrables
            Livraison 2 à 3 jours ouvrés par transporteur pour les commandes supérieures à 90kg ou comportant des produits dont les dimensions ne permettent pas l'envoi par Chronopost.
            Pour l’Outre Mer : livraison 4 à 8 jours ouvrables par Coliposte. * hors produits signalés exclus de l'offre transport offert
        </p>
        <img class='delivImg2 mr-2'src="{{asset('img/paypal.png')}}" style=" box-shadow: 8px 8px 12px #aaa;"> 
    </div>
 </div>   

<div class="clear2"></div>

{% endblock %}

