{% extends 'base.html.twig' %}

{% block title %}Add product{% endblock %}

{% block body %}
<hr class="row1">
    <h1 class="titlecustomer">Create new product</h1>
    <hr class="row1">

    {{ include('product/_form.html.twig') }}
<div class="backcustomer">
    <a href="{{ path('product_index') }}">Back to list</a></div><br>
{% endblock %}
