{% extends 'base.html.twig' %}

{% block body %}


<div class="container">

<div class="menus">
   <div class="menu display-2">
   <a href="#">Création d’un compte</a>
   <a href="#">Ajout d’amis</a>
   <a href="#">Votre page d’accueil</a>
   <a href="#">Messagerie</a>
   <a href="#">Vos photos et vidéos</a>
   <a href="#">Pages</a>
   <a href="#">Paiements</a>
   <a href="#">Applications</a>
    <a href="#">Paiements</a>
 </div>

 </div>

<div>
 <h1 class="display-5 text-center">POLITIQUE DE CONFIDENTIALITÉ DE BASE</h1><br>
 
 <hr>
 <h3 class="display-6 text-center">Protection et traitement des données personnelles</h3>

    <p>L’outil garde en mémoire l’audience avec laquelle vous avez partagé votre dernière publication et la réutilise pour toute nouvelle publication jusqu’à ce que vous la modifiiez. Par exemple, si vous choisissez le paramètre Public pour une publication, ce même paramètre Public est appliqué à votre prochaine publication, sauf si vous modifiez l’audience de cette dernière. Cet outil est à votre disposition à de nombreux endroits du site, notamment dans vos raccourcis de confidentialité et vos paramètres de confidentialité. Lorsque vous modifiez le paramétrage du sélecteur d’audience à un endroit, le changement s’applique partout où le sélecteur est disponible.
Le sélecteur d’audience apparaît également à côté de vos contenus déjà partagés pour vous permettre de savoir rapidement qui peut voir chaque publication. Après avoir partagé une publication, vous avez la possibilité de changer l’audience concernée. Si vous souhaitez modifier l’audience d’une publication que vous avez déjà partagée, cliquez sur le sélecteur d’audience et choisissez une nouvelle audience.
Notez que si vous effectuez une publication sur le journal d’un autre utilisateur, c’est cette personne qui contrôle l’audience de la publication. En outre, toute personne identifiée dans une publication peut voir cette publication, ainsi que ses amis.</p>
   <hr>
 <h3 class="display-6 text-center"></h3>



 <h3 class="display-6 text-center">Comment ces données sont-elles traitées ?</h3>
     <p>Les listes vous permettent de partager du contenu avec une audience spécifique. Vous pouvez utiliser le sélecteur d’audience pour choisir les personnes avec qui vous voulez partager une publication.</p>
<hr>

 <h3 class="display-6 text-center">Comment ces données sont-elles sécurisées ?</h3>
     <p>Vous pouvez utiliser le sélecteur d’audience pour déterminer qui peut voir les contenus que vous partagez sur votre journal, après leur publication. Gardez à l’esprit que, lorsque vous partagez du contenu dans le journal d’un(e) ami(e), c’est cette personne qui choisit l’audience ayant accès à la publication.
Pour modifier l’audience d’une publication que vous avez partagée sur votre journal :
Accédez à votre journal, puis faites défiler la page vers le bas jusqu’à la publication à modifier.
Cliquez sur le sélecteur d’audience à côté de la date ou de l’heure de la publication. L’icône varie en fonction des paramètres d’audience actuels.
Choisissez votre audience parmi les options proposées (par exemple, Public, Amis, Moi uniquement).
En savoir plus sur le contrôle des contenus visibles sur votre profil et votre journal.</p>
<hr>


 <h3 class="display-6 text-center">Comment ces données sont-elles sécurisées ?</h3>
     <p>Vue d’ensemble
Pour modifier des éléments tels que les endroits où vous avez vécu, les membres de votre famille ou votre situation amoureuse, cliquez sur À propos sous votre photo de couverture, survolez les informations à modifier avec le curseur puis cliquez sur Modifier. Utilisez le sélecteur d’audience situé à côté de l’information en question, pour choisir avec qui vous la partagez.
Tout le monde peut accéder à vos informations publiques, c’est-à-dire vos nom, image de profil, photo de couverture, sexe, nom d’utilisateur, identifiant d’utilisateur (numéro de compte), ainsi que les réseaux auxquels vous appartenez (pourquoi ?).
Seuls vous et vos amis pouvez publier des informations dans votre journal. Quand vous publiez du contenu, vous pouvez contrôler qui peut voir cette publication à l’aide du sélecteur d’audience. Lorsque d’autres utilisateurs publient du contenu dans votre journal, vous pouvez contrôler qui peut y accéder à l’aide du paramètre Qui peut voir ce que d’autres personnes publient sur votre journal ?
Outils
Lorsque vous modifiez vos informations, vous pouvez contrôler qui voit quoi en utilisant le sélecteur d’audience.
Avant que les photos, les publications et les applications sur lesquelles vous êtes identifié(e) n’apparaissent dans votre journal, vous avez la possibilité de les approuver ou de les refuser en activant l’option Examen du journal. Rappelez-vous que vous pouvez toujours être identifié(e) et que le contenu identifié (ex. : photos, publications) est partagé ailleurs sur Facebook avec l’audience spécifiée par la personne l’ayant publié (ex. : fil d’actualité et résultats de recherche).
Définissez une audience pour Qui peut voir les publications dans lesquelles vous êtes identifié(e) sur votre journal.
Pour savoir ce que les autres personnes voient de votre profil, utilisez l’outil Afficher en tant que.</p>
<hr>


 <h3 class="display-6 text-center">Comment ces données sont-elles sécurisées ?</h3>
     <p>Vous pouvez également modifier le public de plusieurs publications simultanément. Vos paramètres de compte proposent un outil permettant de modifier l’audience des publications partagées avec tout le monde, les amis de vos amis ou vos amis seulement. Pour utiliser cet outil, procédez comme suit :
Cliquez sur  en haut à droite de n’importe quelle page Facebook, puis sélectionnez Paramètres.
Sélectionnez Confidentialité dans le menu de gauche.
Dans la section Qui peut voir mon contenu ?, cliquez sur Limiter l’audience des publications que vous avez ouvertes aux amis de vos amis ou au public ?
Cliquez sur Limiter les anciennes publications.
Remarques importantes concernant cet outil :
Si vous souhaitez annuler cette action ultérieurement, vous devrez modifier le public de chacune des publications. Vous ne pouvez pas annuler la restriction d’audience appliquée à plusieurs publications en un seul clic.
Par ailleurs, cet outil ne vous permet pas de modifier l’audience d’une publication partagée avec une audience personnalisée (ex : Amis sauf connaissances ou Amis proches).
Si vous identifiez une personne dans une publication, son audience l’inclura toujours, ainsi que les amis qu’elle a identifiés.
Cet outil contrôle uniquement le public des publications que vous avez partagées. Si vous avez été identifié(e) dans la publication d’un autre utilisateur, celui-ci contrôle l’audience de ses propres publications.</p>
<hr>


 <h3 class="display-6 text-center">Comment ces données sont-elles sécurisées ?</h3>
     <p></p>
<hr>


 <h3 class="display-6 text-center">Comment ces données sont-elles sécurisées ?</h3>
     <p>Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.</p>
<hr>


 <h3 class="display-6 text-center">Comment ces données sont-elles sécurisées ?</h3>
     <p>Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.</p>
<hr>



 <h3 class="display-6 text-center">Comment ces données sont-elles sécurisées ?</h3>
     <p>Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.</p>
<hr>



 <h3 class="display-6 text-center">Comment ces données sont-elles sécurisées ?</h3>
     <p>Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.</p>
<hr>


 <h3 class="display-6 text-center">Comment ces données sont-elles sécurisées ?</h3>
     <p>Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.</p>
<hr>



 <h3 class="display-6 text-center">Comment ces données sont-elles sécurisées ?</h3>
     <p>Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    >Ce site respecte la vie privée de l’internaute et se conforme aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.</p>
<hr>

 </div>

</div>



{% endblock %}



