{% extends 'base.html.twig' %} {% block title %}Contact{% endblock %} {% block body %}

<div class="formul">
    <hr class="row1">
    <h1 class="contacttitle">Contactez-nous</h1>
    <hr class="row1">
    <br>
    <form>

        <div class="form-group col-md-12">
            <label for="exampleFormControlInput1">Adresse e-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        <div class="form-group col-md-12">
            <label for="inputState">Rôle</label>
            <select id="inputState" class="form-control">
                    <option selected>Artisan</option>
                    <option>Client</option>
                  </select>
        </div>

        <div class="form-group col-md-12">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="9"></textarea>
        </div>
        
        <div class="form-group col-md-12 d-flex justify-content-end ">
            <button type="submit" class=" d-flex justify-content-center btn btn-outline-secondary col-md-1"><img src="img/courrier.png" style="width:35px;max-height: 25px;" alt="">Envoyer</button>
        </div>
       
    </form>
</div>

{% endblock %}