<footer>
    <div class="row foot bg-secondary d-flex justify-content-center ">
        <div class="col d-flex flex-column">
            <a href="">Contactez-nous</a>
            <a href="">L'équipe</a>
            <a href="">Nous rejoindre</a>
        </div>
        <div class="col d-flex flex-column">
            <a href="">Mode de paiement</a>
            <a href="">Modes de livraison</a>
            <a href="">Conditions d'utilisation</a>
        </div>
        <div class="col d-flex flex-column">
            <h2>Rejoignez-nous</h2>
            <p>Les icones mais là j'ai la flemme</p>
        </div>

    </div>


    <div class="row footbis bg-dark d-flex flex-row-reverse">
        <a href="">Conditions d'utilisation</a>
        <a href="">mentions légales</a>
        <a href="">cookie</a>
        <a href="">confidentialité</a>
        <p> © Castor Inc.</p>
    </div>
            
</footer>