{% extends 'base.html.twig' %}

{% block body %}


<div class="container">


<div class="menus">
   <div class="menu display-6">
   <a href="#par1">Protection</a>
   <hr>
   <a href="#par2">Traitées</a>
   <hr>
   <a href="#par3"> Sécurisées</a>
   <hr>
   <a href="#par4">Journal</a>
   <hr>
   <a href="#par5">Confidentialité</a>
   <hr>
   <a href="#par6">Guide</a>
   <hr>
   <a href="#par7"> Ami(e)</a>
   <hr>
   <a href="#par8"> Photos </a>
   <hr>
    <a href="#par9">Identifié(e)</a>
     <hr>
    <a href="#par10">Identifications</a>
     <hr>
    <a href="#par11">Actualité</a>
  
 </div>

 </div>

<div class='conf'>
 <h1 class="display-5 text-center border rounded castor">POLITIQUE DE MENTION LEGAL <h1><br>
 
 <hr>
 <h3 class="display-6 text-center" id="par1">Protection et traitement des données personnelles</h3>

    <p>L’outil garde en mémoire l’audience avec laquelle vous avez partagé votre dernière publication et la réutilise pour toute nouvelle publication jusqu’à ce que vous la modifiiez. Par exemple, si vous choisissez le paramètre Public pour une publication, ce même paramètre Public est appliqué à votre prochaine publication, sauf si vous modifiez l’audience de cette dernière. Cet outil est à votre disposition à de nombreux endroits du site, notamment dans vos raccourcis de confidentialité et vos paramètres de confidentialité. Lorsque vous modifiez le paramétrage du sélecteur d’audience à un endroit, le changement s’applique partout où le sélecteur est disponible.
Le sélecteur d’audience apparaît également à côté de vos contenus déjà partagés pour vous permettre de savoir rapidement qui peut voir chaque publication. Après avoir partagé une publication, vous avez la possibilité de changer l’audience concernée. Si vous souhaitez modifier l’audience d’une publication que vous avez déjà partagée, cliquez sur le sélecteur d’audience et choisissez une nouvelle audience.
Notez que si vous effectuez une publication sur le journal d’un autre utilisateur, c’est cette personne qui contrôle l’audience de la publication. En outre, toute personne identifiée dans une publication peut voir cette publication, ainsi que ses amis.</p>
   <hr>
 <h3 class="display-6 text-center"></h3>



 <h3 class="display-6 text-center" id="par2">Comment ces données sont-elles traitées ?</h3>
     <p>Les listes vous permettent de partager du contenu avec une audience spécifique. Vous pouvez utiliser le sélecteur d’audience pour choisir les personnes avec qui vous voulez partager une publication.</p>
<hr>

 <h3 class="display-6 text-center" id="par3">Comment ces données sont-elles sécurisées ?</h3>
     <p>Vous pouvez utiliser le sélecteur d’audience pour déterminer qui peut voir les contenus que vous partagez sur votre journal, après leur publication. Gardez à l’esprit que, lorsque vous partagez du contenu dans le journal d’un(e) ami(e), c’est cette personne qui choisit l’audience ayant accès à la publication.
Pour modifier l’audience d’une publication que vous avez partagée sur votre journal :
Accédez à votre journal, puis faites défiler la page vers le bas jusqu’à la publication à modifier.
Cliquez sur le sélecteur d’audience à côté de la date ou de l’heure de la publication. L’icône varie en fonction des paramètres d’audience actuels.
Choisissez votre audience parmi les options proposées (par exemple, Public, Amis, Moi uniquement).
En savoir plus sur le contrôle des contenus visibles sur votre profil et votre journal.</p>
<hr>


 <h3 class="display-6 text-center" id="par4">Comment contrôler qui peut voir le contenu de mon profil et de mon journal ?</h3>
     <p>Outils
Lorsque vous modifiez vos informations, vous pouvez contrôler qui voit quoi en utilisant le sélecteur d’audience.
Avant que les photos, les publications et les applications sur lesquelles vous êtes identifié(e) n’apparaissent dans votre journal, vous avez la possibilité de les approuver ou de les refuser en activant l’option Examen du journal. Rappelez-vous que vous pouvez toujours être identifié(e) et que le contenu identifié (ex. : photos, publications) est partagé ailleurs sur Art'I'Made avec l’audience spécifiée par la personne l’ayant publié (ex. : fil d’actualité et résultats de recherche).
Définissez une audience pour Qui peut voir les publications dans lesquelles vous êtes identifié(e) sur votre journal.
Pour savoir ce que les autres personnes voient de votre profil, utilisez l’outil Afficher en tant que.</p>
<hr>


 <h3 class="display-6 text-center" id="par5">Qu’est-ce que les raccourcis de confidentialité et où se trouvent-ils ?</h3>
     <p>
Vos raccourcis de confidentialité vous permettent d’accéder rapidement à certains des paramètres et des outils de confidentialité les plus courants.

Pour accéder à vos raccourcis de confidentialité :
Cliquez sur  en haut d’une page Art'I'Made.
Cliquez sur Raccourcis de confidentialité pour voir les raccourcis associés à vos paramètres de confidentialité.

Les raccourcis de confidentialité vous permettent de gérer notamment les éléments suivants :
Confidentialité. Examinez vos paramètres de localisation, par exemple.
Sécurité du compte. Mettez à jour vos mots de passe ou vos alertes, entre autres.
Préférences publicitaires. Modifiez vos paramètres publicitaires et obtenez davantage d’informations sur les publicités sur Art'I'Made.
Vos informations Art'I'Made. Examinez certaines informations Art'I'Made à l’aide de la fonctionnalité Accéder à vos informations et de votre historique personnel.
Sécurité. Accédez au Centre de sécurité pour en savoir plus sur la sécurité sur Art'I'Made et trouver des informations utiles sur des sujets tels que l’intimidation.
Politiques et portée juridique. Examinez nos politiques, notamment notre Politique d’utilisation des données et nos Standards de la communauté.
N’oubliez pas que les raccourcis affichés ici peuvent changer au fil du temps pour correspondre aux paramètres et aux outils les plus pertinents.

Autres méthodes de gestion de la confidentialité :
En savoir plus sur la manière de contrôler qui voit ce que vous partagez. Cet article vous explique comment :
Sélectionner une audience pour vos futures publications.
Modifier l’audience de vos publications précédentes.
Modifier les informations générales de votre profil et choisir les personnes qui pourront les voir.
Vous pouvez également modifier les paramètres de confidentialité de vos applications et de vos jeux.</p>
<hr>

 <h3 class="display-6 text-center" id="par6">L’Assistance confidentialité vous guide dans vos paramètres de confidentialité et de sécurité,</h3>
     <p>L’Assistance confidentialité vous guide dans vos paramètres de confidentialité et de sécurité, afin que vous puissiez vérifier vos choix et vous assurer que vous partagez votre contenu avec les personnes adéquates.
Pour accéder à l’Assistance confidentialité :
Cliquez sur  en haut de n’importe quelle page sur Art'I'Made (par exemple, votre page d’accueil).
Sélectionnez Assistance confidentialité.
Voici les éléments que vous pouvez examiner dans l’Assistance confidentialité :
Qui peut voir ce que vous partagez. Cette section vous permet de réaliser les actions suivantes :
Choisir les personnes qui peuvent voir certaines informations de votre profil, comme votre numéro de téléphone, votre adresse e-mail, votre anniversaire et votre situation amoureuse.
Mettre à jour la liste des personnes qui peuvent voir vos publications futures et anciennes.
Examiner les personnes que vous avez bloquées sur Art'I'Made. Par exemple, vous pouvez ajouter des personnes à votre liste des personnes bloquées. En savoir plus sur ce qui se passe lorsque vous bloquez une personne sur Art'I'Made.
Comment protéger votre compte. Cette section vous permet de réaliser les actions suivantes :
Mettre à jour votre mot de passe. En savoir plus sur la création d’un mot de passe sûr.
En activant les alertes, vous serez informé(e) lorsque quelqu’un se connecte à votre compte depuis un emplacement que nous ne reconnaissons pas.
Comment il est possible de vous trouver sur Art'I'Made. Cette section vous permet de choisir les personnes qui peuvent :
Vous envoyer des invitations.
Vous chercher sur Art'I'Made à l’aide de votre numéro de téléphone ou votre adresse e-mail.
Les paramètres de vos données sur Art'I'Made. Cette section vous permet d’examiner et de supprimer les applications et les sites web d’autres entreprises auxquels vous vous êtes connecté(e) via Art'I'Made.
Remarque : l’Assistance confidentialité n’est pas encore disponible partout. Il est notamment impossible d’y accéder depuis certains appareils.
Autres méthodes de gestion de la confidentialité :
En savoir plus sur la manière de contrôler les personnes qui voient ce que vous partagez. Cet article vous expliquera comment :
Sélectionner une audience pour vos publications.
Modifier l’audience de vos anciennes publications.
Modifier les informations générales de votre profil et choisir les personnes qui pourront les voir.
Vous pouvez également modifier les paramètres de confidentialité de vos applications et de vos jeux.</p>
<hr>


 <h3 class="display-6 text-center" id="par7">Pour choisir qui peut vous ajouter comme ami(e) :?</h3>
     <p>Pour choisir qui peut vous ajouter comme ami(e) :
Cliquez sur  en haut à droite de n’importe quelle page Art'I'Made, puis cliquez sur Paramètres.
Cliquez sur Confidentialité dans la colonne de gauche.
Cliquez sur Modifier à côté de Qui peut vous envoyer des invitations ?
Dans le menu déroulant, cliquez sur Tout le monde ou Amis et leurs amis.

Pour que vos amis vous trouvent plus facilement sur Art'I'Made :
Servez-vous du nom et du prénom que vous utilisez au quotidien.
S’il arrive qu’on vous appelle par un autre nom (par exemple, surnom, nom de jeune fille), ajoutez un autre nom à votre compte.
Renseignez vos infos générales.</p>
<hr>



 <h3 class="display-6 text-center" id="par8">Qui peut voir mes photos de profil et de couverture Art'I'Made ?</h3>
     <p>Qui peut voir mes photos de profil et de couverture Art'I'Made ?
Vos photos de profil et de couverture actuelles sont publiques, elles peuvent donc être vues par toutes les personnes qui disposent ou non d’un compte Art'I'Made. En savoir plus sur l’ajout ou la modification des photos de profil ou de couverture.
Lorsque vous ajoutez ou modifiez votre photo de profil ou de couverture, gardez à l’esprit que celles-ci peuvent apparaître à divers endroits sur Art'I'Made :
Elles sont publiées dans votre journal et peuvent apparaître dans le fil d’actualité de vos amis.
Votre photo de profil apparaît dans votre album Photos de profil. Votre photo de couverture apparaît dans votre album Photos de couverture.
Une version miniature de votre photo de profil apparaît à côté de votre nom à différents endroits sur Art'I'Made. Elle permet à vos amis d’identifier vos publications et vos commentaires sur Art'I'Made.
Vous pouvez modifier les paramètres de confidentialité pour les photos de profil ou de couverture que vous avez utilisées précédemment.</p>
<hr>



 <h3 class="display-6 text-center" id="par9">Examen du contenu dans lequel vous êtes identifié(e) ?</h3>
     <p>Pour supprimer une identification d’une publication dans laquelle vous êtes identifié(e), cliquez sur  en haut à droite de la publication et sélectionnez Supprimer l’identification.
Vous pouvez également supprimer les identifications de plusieurs publications simultanément :
Accédez à votre historique personnel.
Cliquez sur Photos dans la colonne de gauche.
Cliquez pour cocher la case à gauche des publications pour quelles vous souhaiter supprimer une identification.
Cliquez sur Signaler/Supprimer l’identification en haut de la page.
Cliquez sur Supprimer l’identification pour confirmer.
Les identifications supprimées n’apparaissent plus sur la publication ou la photo, 
mais ces dernières restent visibles par les personnes avec qui elles ont été partagées. 
D’autres utilisateurs peuvent avoir la possibilité de voir cette publication ou la photo en 
d’autres endroits, tels que le fil d’actualité ou les résultats de recherche. Pour la supprimer 
entièrement de Art'I'Made, demandez à la personne qui l’a publiée de la retirer.</p>
<hr>


 <h3 class="display-6 text-center" id="par10">Pour activer l’examen des identifications ?</h3>
     <p>Vous pouvez utiliser l’examen des identifications pour approuver ou refuser les identifications ajoutées par d’autres personnes à vos publications. Quand vous activez l’examen des identifications, les identifications ajoutées à vos publications n’apparaissent pas tant que vous ne les avez pas approuvées.
Pour activer l’examen des identifications :
Cliquez sur  en haut à droite de Art'I'Made et sélectionnez Paramètres.
Dans la colonne de gauche, cliquez sur Journal et identification.
Accédez au paramètre Examiner les identifications que d’autres ajoutent à vos propres publications avant qu’elles n’apparaissent sur Art'I'Made ?, puis cliquez sur Modifier tout à droite.
Sélectionnez Activé dans le menu déroulant.
Lorsque l’examen des identifications est activé, vous recevez une notification lorsque vous avez une publication à examiner. Vous pouvez approuver ou ignorer la demande d’identification en accédant à la publication.
Remarque : lorsque vous approuvez une identification, la personne identifiée et ses amis peuvent voir votre publication. Si vous ne souhaitez pas que votre publication soit visible par les amis de la personne identifiée, vous pouvez modifier ce paramètre. En savoir plus sur l’identification et son fonctionnement.</p>
<hr>



 <h3 class="display-6 text-center" id="par11">Comment le fil d’actualité et les résultats de recherche ?</h3>
     <p>Pour choisir qui peut voir les publications sur lesquelles vous avez été identifié(e) une fois qu’elles apparaissent sur votre journal :
Cliquez sur  en haut à droite de Art'I'Made et sélectionnez Paramètres.
Dans la colonne de gauche, cliquez sur Journal et identification.
Accédez au paramètre Qui peut voir les publications dans lesquelles vous êtes identifié(e) sur votre journal ?, puis cliquez sur Modifier à droite de la page.
Sélectionnez l’audience (par exemple, Amis) que vous voulez autoriser à voir les publications sur lesquelles vous avez été identifié(e).
Vous pouvez consulter les photos et publications sur lesquelles vous avez été identifié(e) avant qu’elles n’apparaissent sur votre journal en activant la fonction Examen du journal.
Gardez à l’esprit que les photos et les publications que vous masquez sur votre journal peuvent toujours être vues ailleurs sur Art'I'Made par les personnes avec qui elles sont partagées (par exemple, dans le fil d’actualité et les résultats de recherche).</p>
<hr>

 </div>

</div>



{% endblock %}


<<<<<<< HEAD
=======

>>>>>>> c7763cc9f7111956c3846f0be722a83d9922437c
