{% extends 'base.html.twig' %}


{% block body %}
<h2 class="display-5 text-center" id="mention">Mentions légales</h2>
<br>
<br>
<h3 class="text-center">Conditions d'utilisation du site</h3>
<br>
<br>
<div class="container">

    <p class="Pcookie">
    <span id="cook">Définitions</span>  
Il est convenu d’attribuer aux mots commençant par une majuscule, qu’ils soient au pluriel ou au singulier, la définition suivante :

- : Nombre qui est automatiquement assigné à l’ordinateur de l’internaute par son fournisseur d'accès Internet
lorsqu’il navigue sur internet et qui permet de l’identifier.
<br>
<br>
- <span id="cook">Cookie</span>  (Témoin de connexion) : Petit fichier stocké après acceptation de l’internaute sur le disque dur de son ordinateur.
Ce fichier permet à un site web d’enregistrer des informations relatives à la navigation de l’internaute sur les pages de ce site
et de faciliter l’utilisation ultérieure du site web par le même internaute.
<br>
<br>
- <span id="cook"> Site :</span> Tous les sites internet appartenant ou exploités par le groupe . Il s’agit notamment.

- Service : Ensemble des services proposés sur le Site à tout internaute qu’il soit ou non abonné à une quelconque offre 
<br>
<br>
 <span id="cook">Accès au Site :</span> 
L'accès au Site est réservé à un usage strictement personnel.
 se réserve le droit de suspendre, d'interrompre ou de limiter sans avis préalable l'accès à tout ou partie du site.
Les conditions d’utilisation du Site ainsi que les mentions légales sont susceptibles d'être modifiées à tout moment et sans préavis par.
Utilisation du site
En utilisant le site, l’internaute s’engage à prendre connaissance des mentions légales, respecter les présentes conditions d’utilisation du Site et faire un usage strictement personnel du site.
<br>
<br>
Sous réserve des dispositions spécifiques applicables aux données personnelles, toutes les informations transmises par l’internaute sur Internet, notamment via le Site, seront considérées comme non confidentielles. L’internaute autorise SFR ou l’une quelconque de ses filiales à utiliser les informations qu’il aura ainsi transmises.
<br>
<br>
L’internaute peut personnaliser sa page d'accueil à l'aide de contenus extérieurs au Site, en enregistrant ses paramètres de préférences dans un Cookie. Cette personnalisation doit respecter les dispositions visées dans les présentes. Il pourra également supprimer le Cookie dans lequel ses préférences sont enregistrées selon la procédure détaillée à l’article «Cookies» des présentes.
<br>
<br>
Lorsque le Site permet à l’internaute d’envoyer et/ou de publier des contenus (textes, photographies, vidéos, etc.) de quelque nature que ce soit, l’internaute s’engage à ce que ces contenus respectent la législation applicable et ne portent ni atteinte aux droits des tiers, ni à l’ordre public et aux bonnes mœurs tels que définis par la législation française.
<br>
<br>
En particulier, ces contenus ne doivent pas présenter de caractère pornographique ou pédophile, porter à la sécurité ou à l’intégrité d’un Etat ou d’un territoire, quel qu’il soit, inciter à la haine, à la violence, au suicide, au racisme, à l’antisémitisme, à la xénophobie, à l’homophobie, faire l’apologie des crimes de guerre ou des crimes contre l’humanité.
<br>
<br>
La souscription et l’utilisation des Services font l’objet de conditions générales et de conditions particulières de vente et/ou d’utilisation spécifiques.
<br>
<br>
Lien vers d'autres sites
Il peut être proposé des liens depuis les Sites vers des sites tiers. Ces sites sont indépendants, n'édite pas et ne contrôle pas ces sites. Les liens vers tous sites ne constituent, en aucun cas, une approbation ou un partenariat entre SFR et ces sites. Dès lors,  ne saurait être responsable de leurs contenus, leurs produits, leurs publicités ou tous éléments ou services présentés sur ces sites. Par ailleurs, ces sites sont soumis à leurs propres conditions d'utilisation.

Données personnelles
Conformément aux lois et règlementations françaises et européennes en vigueur,collecte et traite des données personnelles concernant les internautes dans le cadre de leur navigation sur notre Site (voir notre politique de gestion des cookies) et/ou de leur souscription à ses offres et services (voir conditions générales d’abonnement ou d’utilisation afférentes).

Les données personnelles sont traitées par les sociétés du Groupe ALTICE et leurs prestataires. Elles sont susceptibles de faire l’objet d’un transfert hors UE et sont conservées pour la durée de la fourniture des services et/ou de la finalité des traitements spécifiques. Pour exercer ses droits, l’internaute peut adresser un courrier mentionnant ses nom, prénom, adresse avec une copie de sa pièce d’identité à : Service client - données personnelles - TSA 10101 - 69947 LYON CEDEX 20

peut utiliser l’adresse IP de l’internaute si elle estime nécessaire de faire respecter ses conditions d’utilisation ou de protéger ses services, ses clients ou encore sur demande des autorités judiciaires.
<br>
<br>
Interaction de avec les internautes
Afin d’améliorer le suivi de sa relation avec le client et d’assurer un service personnalisé, peut collecter les échanges et mentions de ses services réalisés sur internet. A ce titre, l’internaute dispose d’un droit d’accès, de rectification et de suppression des informations personnelles le concernant, qu’il peut exercer à tout moment par écrit en y joignant son nom, son prénom, son pseudonyme utilisé lors de ses échanges a sur internet et la copie de sa pièce d’identité à l’adresse suivante : Direction des Communautés Digitales - 16 rue Gal Boissieu – 75015 PARIS

Mémorisation des identifiants de connexion de l’abonné :
Lors de l’identification d’un abonné sur un Site, s’il coche la case « Rester connecté », la session restera active pendant soixante (60) jours ou jusqu’à déconnexion de sa part (même après fermeture du navigateur ou arrêt de l’ordinateur). Il aura ainsi accès à son compte en ligne et/ou à sa messagerie sans s’identifier à chaque fois.

Il est recommandé aux abonnés utilisant un ordinateur public ou qui partageraient leur ordinateur avec d’autres utilisateurs de ne pas cocher cette case.
<br>
<br>
Propriété 
L’ensemble des contenus (photos, textes, vidéo, son, etc.) consultables sur le Site et/ou via les Services sont et demeurent la propriété exclusive et/ou de ses partenaires. L’internaute n’est donc pas habilité à reproduire, représenter ou commercialiser ces contenus en dehors des cas prévus par la loi ou expressément autorisés par leur propriétaire.

En toute hypothèse, l’internaute ne peut réaliser aucune utilisation secondaire des contenus du Site à titre onéreux ou gratuit. Pour toute réalisation d’un lien avec le Site, l’internaute devra contacter au préalable à l’adresse suivante afin d’obtenir l’autorisation nécessaire à cet effet : SFR, Direction de la Communication, 16 rue Gal Boissieu – 75015 PARIS

Le non-respect de cette interdiction peut notamment constituer une contrefaçon des droits de propriété intellectuelle ou une atteinte aux droits des personnes et peut à ce titre engager la responsabilité de l’internaute, y compris dans le cadre d'une action pénale.

Loi applicable
Le Site est régi par la loi française. Les présentes conditions générales d’utilisation et mentions légales sont soumises au droit français. En cas de différend et à défaut d’accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur.
    </p>
</div>


{% endblock %}
