<div class="formartisan">
    {{ form_start(form) }} {{ form_row(form) }}

    <br>
    <button class="btn btn-outline-secondary">{{ button_label|default('Save') }}</button> {{ form_end(form) }}
</div>